<div class="static-column">
  <div class="cards">
    <p>My Cards : 1/<span class="decrease">2</span></p>
    <div>
      <i class="fa-solid fa-angle-left"></i>

      <i class="fa-solid fa-angle-right"></i>
    </div>
  </div>
  <img src="../../assets/card image.webp" alt="Debit card" />
  <div class="new-card">
    <i class="fa-solid fa-plus"></i><span>Add New Card</span>
  </div>
  <div class="menu-list">
    <h2 class="menu">Quick Actions</h2>
    <ul class="menu-list-options">
      <li>
        <i class="fa-solid fa-certificate"></i>
        <p>Topup</p>
      </li>
      <li>
        <i class="fa-solid fa-certificate"></i>
        <p>Transfer</p>
      </li>
      <li>
        <i class="fa-solid fa-certificate"></i>
        <p>Withdrawal</p>
      </li>
    </ul>
  </div>

  <div class="plan">
    <p>Saving Plan</p>
    <div><i class="fa-solid fa-plus"></i></div>
  </div>
  <div>
    <i class="fa-solid fa-plus"></i>
    <p>New Watch</p>
    <p>Target:2000</p>
    <i class="fa-solid fa-plus"></i>
    <!-- progress meter -->
  </div>
  <div>
    <i class="fa-solid fa-plus"></i>
    <p>New Watch</p>
    <p>Target:2000</p>
    <i class="fa-solid fa-plus"></i>
  </div>
</div>
