<div class="static-column">
  <div class="cards">
    <p>My Cards : 1/<span class="decrease">2</span></p>
    <div>
      <i class="fa-solid fa-angle-left"></i>

      <i class="fa-solid fa-angle-right"></i>
    </div>
  </div>
  <img src="../../assets/card image.webp" alt="Debit card" />
  <div class="new-card">
    <i class="fa-solid fa-plus"></i><span>Add New Card</span>
  </div>
  <div class="menu-list">
    <h2 class="menu">Quick Actions</h2>
    <ul class="menu-list-options">
      <li>
        <i class="fa-solid fa-certificate"></i>
        <p>Topup</p>
      </li>
      <li>
        <i class="fa-solid fa-certificate"></i>
        <p>Transfer</p>
      </li>
      <li>
        <i class="fa-solid fa-certificate"></i>
        <p>Withdrawal</p>
      </li>
    </ul>
  </div>

  <div class="plan">
    <p>Saving Plan</p>
    <div><i class="fa-solid fa-plus"></i></div>
  </div>
  <div class="plan-scheme">
    <div class="plan-details">
      <div class="plan-name">
        <div>
          <i class="fa-solid fa-plus plan-icon"></i>
        </div>
        <div class="plan-summary">
          <p>New Watch</p>
          <p>Target:$2000</p>
        </div>
      </div>

      <p class="more">...</p>
    </div>
    <div class="plan-progress">
      <div class="plan-target-progress">
        <p>Total:$1400</p>
        <p>70%</p>
      </div>

      <progress value="70" max="100">70%</progress>
    </div>

    <!-- progress meter -->
  </div>
  <div class="plan-scheme">
    <div class="plan-details">
      <div class="plan-name">
        <div>
          <i class="fa-solid fa-plus plan-icon"></i>
        </div>
        <div class="plan-summary">
          <p>Play Station 5</p>
          <p>Target:$4000</p>
        </div>
      </div>

      <p class="more">...</p>
    </div>
    <div class="plan-progress">
      <div class="plan-target-progress">
        <p>Total:$2000</p>
        <p>50%</p>
      </div>
      <progress id="file" value="50" max="100">50%</progress>
    </div>

    <!-- progress meter -->
  </div>
</div>
