<div class="side-nav">
  <div class="bank-landmark">
    <div><i class="fa-solid fa-landmark"></i> Hexa Bank</div>
    <div class="bank-icon">
      <i class="fa-solid fa-angle-left"></i>
    </div>
  </div>
  <div class="profile">
    <div><i class="fa-regular fa-image"></i> Akmal Nasrulloh</div>
    <div class="up-down">
      <div><i class="fa-solid fa-angle-up"></i></div>
      <div><i class="fa-solid fa-angle-down"></i></div>
    </div>
  </div>
  <div class="menu-list">
    <h2 class="menu">Menu</h2>
    <ul class="menu-list-options">
      <li><i class="fa-solid fa-certificate"></i> Overview</li>
      <li><i class="fa-solid fa-certificate"></i>Transactions</li>
      <li><i class="fa-solid fa-certificate"></i>Analytics</li>
      <li><i class="fa-solid fa-certificate"></i>Cards</li>
    </ul>
  </div>

  <div class="menu-list">
    <h2 class="menu">General</h2>
    <ul class="menu-list-options">
      <li><i class="fa-solid fa-certificate"></i> Settings</li>
      <li><i class="fa-solid fa-certificate"></i>Help/Support</li>
      <li class="toggle">
        <i class="fa-solid fa-certificate"></i>Dark Mode
        <i class="fa-solid fa-toggle-off"></i>
      </li>
    </ul>
  </div>
  <div class="payment">
    <i class="fa-solid fa-plus"></i>
    <p>New Payment</p>
  </div>
</div>
