<div class="fixed-header">
  <div></div>
  <div>
    Stay updated on our latest feature by receiving notifications from us!
    <button>Learn More</button>
  </div>

  <div>
    <i class="fa-solid fa-xmark"></i>
  </div>
</div>

<div class="side-overview">
  <div>
    <app-side-nav></app-side-nav>
  </div>
  <div class="overview-static">
    <div>
      <app-overview></app-overview>
    </div>
    <div class="static-balance">
      <div class="static-column">
        <app-static-column></app-static-column>
      </div>
      <div class="card-graph">
        <app-card-balance></app-card-balance>
        <app-cards-graph></app-cards-graph>
        <app-transaction-history></app-transaction-history>
      </div>
    </div>
  </div>
</div>
